.swiper {
  width: 100% !important;
}

.swiper-slider {
  min-height: 500px;
  height: 50vh;
  max-height: 600px !important;
  // padding: 10px;
  // background-color: red;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.swiper-banner {
  // max-height: 60vh;
  width: 100%;
  // filter: blur(5px) brightness(0.7);
  height: 100%;
  border-radius: 10px;
}

.header {
  position: relative;
  padding: 0px;
  display: flex;
  justify-content: center;
  // background-color: red;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner {
  position: relative;

  &__box {
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(243, 178, 37, 0.959);
    border-radius: 10px;
  }

  &__title {
    font-size: 27px;
    color: rgb(129, 52, 16);
    font-weight: 400;
    letter-spacing: -0.2px;
  }

  &__subtitle {
    font-size: 14px;
    // font-weight: 600;
    letter-spacing: 0.2px;
    color: rgba(255, 255, 255, 0.795);
  }

  &__button {
    padding: 5px 10px;
    // border-radius: 50px;
    background-color: rgb(129, 52, 16);
    border: 1px solid rgb(129, 52, 16);
    color: white;;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
  }
}
