.swiper {
  width: 100% !important;
}

.swiper-slider {
  min-height: 500px;
  height: 60vh;
  max-height: 700px !important;
}

.swiper-banner {
  // max-height: 60vh;
  width: 100%;
  filter: blur(5px) brightness(0.7);
  height: 100%;
}

.header {
  position: relative;
  padding: 0px;
  display: flex;
  justify-content: center;
  // background-color: red;
  height: auto;
}

.banner {
  position: relative;

  &__box {
    position: absolute;
    top: calc(10% + 180px);
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(83, 79, 79, 0.137);
    border: 1px solid rgba(0, 0, 0, 0.288);
  }

  &__title {
    font-size: 40px;
    color: white;
  }

  &__subtitle {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.795);
  }

  &__button {
    padding: 5px 10px;
    border-radius: 50px;
    background-color: rgba(214, 131, 6, 0.959);
    border: 1px solid rgba(0, 0, 0, 0.445);
    color: white;;
    outline: none;
    cursor: pointer;
  }
}
