.cart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  flex-grow: 2 !important;
  // min-height: 70vh;
  align-items: start;
  // height: fit-content;
  // background-color: red;
  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(0, 0, 0, 0.815);
  }

  &__t-count {
    font-size: 20px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    // background-color: red;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    gap: 30px;
    flex-grow: 1;
    height: fit-content;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);
    width: 100%;
    // background-color: red;
  }

  &__item-box {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 40px;
    width: 100%;
  } 

  &__item-title {
    font-weight: 500;
    font-size: 16px;
  }

  &__item-bottom {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  &__item-top-box {
    width: 100%;
    display: flex;
    gap: 7px;
  }

  &__item-star {
    color: rgba(243, 178, 37, 0.959);

  }

  &__item-b-right {
    display: flex;
    flex-grow: 1;
    // background-color: red;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
    // align-items: start;
  }

  &__item-top {
    display: flex;
    // width: 100%;
    // background-color: red;
    flex-grow: 1;
    justify-content: space-between;
    align-items: start;
  }

  &__item-trash-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border-radius: 5px;
    color: rgba(26, 23, 23, 0.993);
    font-size: 17px;
    cursor: pointer;
  }

  &__item-top-box-star {
    user-select: none;
  }

  &__item-t-text {
    font-size: 14px;
  }

  &__item-top-b {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: start;
    gap: 40px;
    flex-wrap: wrap;
  }

  &__item-count-box{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 5px;
    border: 1px solid rgba(243, 178, 37, 0.959);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }

  &__item-count {
    user-select: none;
  }

  &__item-price-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 4px;
    user-select: none;
  }

  &__item-price {
    font-size: 20px;
    font-weight: 500;
    color: rgb(34, 83, 34);
  }

  &__item-old-price {
    font-size: 14px;
    color: rgba(43, 41, 41, 0.712);
    text-decoration: line-through;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: start;
    width: 100%;
    gap: 10px;
    height: fit-content;
  }

  &__catalog {
    position: sticky;
     top: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    min-width: 200px;
    width: auto;
  }

  // &__box {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: start;
  //   width: 100%;
  //   // background-color: red;
  //   padding: 30px;
  //   border-radius: 10px;
  //   border: 1px solid rgba(128, 128, 128, 0.233);
  //   gap: 30px;
  //   flex-grow: 1;
  // }

  &__cat-title {
    display: flex;
    white-space: nowrap;
    align-items: start;
    gap: 20px;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    justify-content: space-between;
  }

  &__cat-button {
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgba(243, 178, 37, 0.959);
    color: white;
    outline: none;
    background-color: rgba(243, 178, 37, 0.959);
    cursor: pointer;
  }

  &__loading-box {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__cat-box {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
}