.categories {
  display: flex;
  // background-color: red;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  &__item {
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(214, 131, 6, 0.959);
    border: 1px solid rgba(0, 0, 0, 0.288);
    flex-grow: 1;
    max-width: 300px;
  }

  &__icon{
    // color: rgba(214, 131, 6, 0.959);
    padding: 5px;
    border-radius: 50px;
    // background-color: rgb(228, 227, 227);
  }

  &__text {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
