.categories {
  display: flex;
  // background-color: red;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  &__item {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(221, 216, 208, 0.281);
    // border: 1px solid rgba(0, 0, 0, 0.288);
    flex-grow: 1;
    max-width: 300px;
    cursor: pointer;
    min-width: 200px;
  }

  &__icon{
    // color: rgba(214, 131, 6, 0.959);
    padding: 5px;
    border-radius: 50px;
    // background-color: rgb(228, 227, 227);
  }

  &__text {
    color: black;
    // font-weight: 600;
    // text-transform: uppercase;
    letter-spacing: 0.1px;
    font-size: 16px;
  }


}
