*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style: none;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 2% 5%;
  border-radius: 20px;
}

.icons {
  font-size: 24px;
}

.main-icon {
  padding: 10px;
  font-size: 50px;
  border-radius: 50px;
  color: rgba(243, 178, 37, 0.959);
}


.cart-icon{
  color: rgb(129, 52, 16);
  padding: 8px;
  font-size: 39px;
  background-color: rgba(243, 178, 37, 0.959);
  // border-radius: 50px;
  cursor: pointer;
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  // background-color: rgb(31, 28, 28);
  display: block;
  height: 100vh;
}


/* Force standard visibility on the initial track rendering layout */
.slick-slider {
  display: block !important;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* Fixes the track vanishing calculation issue */
.slick-list {
  display: block !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  display: flex !important;
  align-items: stretch;
}

.slick-slide {
  height: auto !important;
  display: block !important;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0px;
  flex-wrap: wrap;
  background-color: rgb(129, 52, 16);
  max-height: 50px;
  &__text {
    color: white;
    font-size: 14px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0px;
  }
}

.app {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
  
}

.loading-cart {
 animation: loading-cart 1s linear infinite;
 width: 300px;
 height: 300px;
}

@keyframes loading-cart {
  0%{
    background-color: rgba(128, 128, 128, 0.171);
  }50%{
    background-color: rgba(128, 128, 128, 0.24);
  }
}