*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style: none;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 2% 5%;
}

.icons {
  font-size: 24px;
}

.main-icon {
  padding: 10px;
  font-size: 50px;
  border-radius: 50px;
  color: rgba(153, 93, 3, 0.959);
}


.cart-icon{
  color: black;
  padding: 10px;
  font-size: 45px;
  background-color: rgba(153, 93, 3, 0.959);
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: rgb(31, 28, 28);
  display: block;
  height: 100vh;
}


/* Force standard visibility on the initial track rendering layout */
.slick-slider {
  display: block !important;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* Fixes the track vanishing calculation issue */
.slick-list {
  display: block !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  display: flex !important;
  align-items: stretch;
}

.slick-slide {
  height: auto !important;
  display: block !important;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  &__text {
    color: white;
    font-size: 14px;
  }
}