.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  margin: auto;
  max-width: 1200px;
  z-index: 10;
  padding: 20px;
  // background-color: red;
  margin-top: 10px;
  border-radius: 50px;
  backdrop-filter: blur(5px);
  background-color: rgba(83, 79, 79, 0.514);
  border: 1px solid rgba(0, 0, 0, 0.288);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  &__link {
    color: white;
    font-weight: 500;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
      color: rgba(153, 93, 3, 0.959);
    }
  }


}


.navbar-list {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  filter: brightness(2);
  text-transform: uppercase;
  letter-spacing: 1.1px;
}


.navbar-input{
  padding: 8px 13px;
  border-radius: 50px;
  border: 1px solid rgba(145, 141, 136, 0.637);
  background-color: rgba(63, 59, 59, 0.733);
  color: white;
  font-size: 14px;
  &::placeholder {
    color: white;
  }
  flex-grow: 1;
  outline: none;
  max-width: 500px;
}


.navbar__ul-list{
  display: flex;
  align-items: center;
  gap: 20px;

}