.payment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 400px;
    margin-top: 10%;
  }

  &__boxes {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
  }

  &__input {
    padding: 10px;
    flex-grow: 1 !important;
    max-width: none !important;
    width: 100% !important;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 0.473);
  }

  &__type-svg {
    width: 18px;
    position: relative;
    top: 2px;
  }

  &__error {
    word-break: break-all;
    font-size: 14px;
    color: red;
  }

  &__input-boxes {
    display: flex;
    gap: 10px;
  }

  &__type-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__type-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 0.473);
    cursor: pointer;
    &:hover {
      background-color: rgba(101, 160, 216, 0.158);
    }

    input {
      outline: none;
      cursor: pointer;
    }
  }

  &__type-text {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
