.products {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: start;
  flex-grow: 2;
  flex-wrap: wrap;
  padding: 0px;
  // min-height: 80vh;
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    // width: 330px !important;
    // gap: 10px;
    // background-color: rgba(128, 128, 128, 0.151);
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    // background-color: blue;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 20px -3px rgb(219, 219, 219);
    }

    // &:hover .products__image {
    //   transform: scale(1.04);
    // }
    height: fit-content;
    padding: 0px 0px 10px 0px;
    // width: 260px ;
  }

  &__del-price {
    font-size: 11px;
    color: gray;
    font-weight: 300;
  }

  &__top {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 10px;
    gap: 10px;
    z-index: 10;
  }

  &__top-icons {
    color: black;
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 50px;
  }

  &__bottom {
    padding: 25px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    // background-color: rgba(83, 79, 79, 0.514);
    width: 100%;
  }

  &__image {
    transition: all 0.3s ease-in-out;
    width: 330px;
    height: 330px;
    object-fit:cover;

    &:hover {
        transform: scale(1.04);
    }
  }

  &__title {
    font-size: 15px;
    color: black;
    font-weight: 300;
  }

  &__price {
    display: flex;
    align-items: end;
    gap: 4px;
    font-size: 13px;
    color: rgb(29, 143, 29);
    font-weight: 600;
  }

  &__views {
    display: flex;
    align-items: center;
    gap: 4px;
    color: black;
    font-size: 13px;
  }

  &__view-icon {
    color: rgba(173, 200, 252, 0.959) !important;
  }

  &__rate {
    display: flex;
    align-items: center;
    gap: 4px;
    color: black;
    font-size: 13px;
  }

  &__rate-icon {
    color: rgba(243, 178, 37, 0.959);
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
    padding: 5px;
    // padding: 10px;
    align-self: center;
    justify-content: end;
    border-radius: 5px;
    border: none;
    background-color: rgba(243, 178, 37, 0.212);
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
  }

  &__view-button {
    position: relative;
    top: 5px;
    width: 100%;
    align-self: center;
    font-size: 12px;
    // padding: 5px;
    border-radius: 50px;
    background-color: rgb(89, 137, 224);
    color: white;
    border: none;
    font-weight: 600;
    height: 25px;
    outline: none;

    &:hover {
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      box-shadow: 0px 0px 20px 0px rgba(89, 136, 224, 0.397);
    }
    // border: 1px solid rgba(173, 200, 252, 0.959)
  }

  &__button-sp {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    padding: 2px 5px;
    flex-grow: 1;
  }

  .shopping {
    animation: basket 0.6s linear;
    animation-fill-mode: forwards;
  }

  &__button-icons {
    font-size: 20px;
    color: white;
    background-color: rgba(243, 178, 37, 0.959);
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 2px 5px;
  }

  &__button-box {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
    justify-content: end;
    // background-color: red;
  }

  &__b-center {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__button-s-icons {
    font-size: 24px;
    color: black;
    padding: 3px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid rgba(179, 90, 7, 0.233);
      background-color: rgba(179, 90, 7, 0.233);
    }
    border-radius: 50px;
  }
  .shopped {
    width: 35%;
  }

  &__heart-icon {
    color: rgb(231, 7, 7);
  }

  &__heart-box {
    &:hover .products__heart {
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      transform: scale(1.04);
      background-color: red;
      color: white;
    }

    &:active .products__heart {
       transform: scale(1.2);
    }
  }

  @keyframes basket {
    0% {
      width: 35%;
      transform: rotate(0deg);
    }
    20% {
      width: 35%;
      transform: rotate(-40deg);
    }
    50% {
      width: 35%;
      transform: rotate(0deg);
    }
    53% {
      width: 35%;
      transform: rotate(0deg);
    }
    75% {
      width: 35%;
      transform: rotate(20deg) translateX(-2px);
    }
    100% {
      width: 35%;
      transform: rotate(0deg);
    }
  }
}
